@charset "UTF-8";
@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
@keyframes T360Turn {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotation {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes updown {
  0% {
    transform: translate(-50%, -70%);
    top: 50%;
    left: 50%;
  }
  100% {
    transform: translate(-50%, -10%);
    top: 50%;
    left: 50%;
  }
}
/*반응형, 브라우저 크기가 768이상, 1023px 이하일때*/
/*반응형, 브라우저 크기가 1024px 이상일때*/
@font-face {
  font-family: "Aggro";
  src: url("/assets/font/Aggro-Bold.ttf") format("ttf");
  font-weight: 900;
}
@font-face {
  font-family: "Aggro";
  src: url("/assets/font/Aggro-Light.ttf") format("ttf");
  font-weight: normal;
}
@font-face {
  font-family: "Aggro";
  src: url("/assets/font/Aggro-Medium.ttf") format("ttf");
  font-weight: bold;
}
@font-face {
  font-family: "Pretendard";
  src: url("/assets/font/Pretendard-Thin.woff") format("woff");
  font-weight: 100;
}
@font-face {
  font-family: "Pretendard";
  src: url("/assets/font/Pretendard-ExtraLight.woff") format("woff");
  font-weight: 200;
}
@font-face {
  font-family: "Pretendard";
  src: url("/assets/font/Pretendard-Light.woff") format("woff");
  font-weight: 300;
}
@font-face {
  font-family: "Pretendard";
  src: url("/assets/font/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
}
@font-face {
  font-family: "Pretendard";
  src: url("/assets/font/Pretendard-Medium.woff") format("woff");
  font-weight: 500;
}
@font-face {
  font-family: "Pretendard";
  src: url("/assets/font/Pretendard-SemiBold.woff") format("woff");
  font-weight: 600;
}
@font-face {
  font-family: "Pretendard";
  src: url("/assets/font/Pretendard-Bold.woff") format("woff");
  font-weight: 700;
}
@font-face {
  font-family: "Pretendard";
  src: url("/assets/font/Pretendard-ExtraBold.woff") format("woff");
  font-weight: 800;
}
@font-face {
  font-family: "Pretendard";
  src: url("/assets/font/Pretendard-Black.woff") format("woff");
  font-weight: 900;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
}

*, :after, :before {
  box-sizing: border-box;
  flex-shrink: 0;
}

:root {
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  cursor: default;
  line-height: 1.5;
  overflow-wrap: break-word;
  -moz-tab-size: 4;
  tab-size: 4;
}

html, body {
  height: 100%;
  line-height: 1;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

img, video {
  width: 100%;
  height: 100%;
}

input:focus {
  outline: none;
}

button {
  background: none;
  border: 0;
  cursor: pointer;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset, input {
  border: 0;
}

body {
  width: 100%;
  height: 100%;
  font-family: "Pretendard", "Aggro";
}

.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  margin: -1px;
  clip: rect(0 0 0 0);
}

.inner {
  padding: 0 100px;
}

body.hid {
  overflow: hidden;
}
body.hid .header .gnb {
  border: 0px solid rgba(0, 0, 0, 0);
  background: none;
}
body.hid .header .gnb .menu-list {
  visibility: hidden;
  opacity: 0;
}
body::-webkit-scrollbar {
  width: 8px;
  /* 스크롤바의 너비 */
}
body::-webkit-scrollbar-thumb {
  height: 10%;
  /* 스크롤바의 길이 */
  background: #001025;
  /* 스크롤바의 색상 */
  width: 8px;
  border-radius: 10px;
}
body::-webkit-scrollbar-track {
  background: rgba(33, 122, 244, 0.1);
  /*스크롤바 뒷 배경 색상*/
}

#cursor {
  position: fixed;
  z-index: 1001;
  left: 0;
  top: 0;
  pointer-events: none;
  will-change: transform;
}
#cursor .cur_cir {
  width: 32px;
  height: 32px;
  margin-top: -50%;
  margin-left: -50%;
  border-radius: 50%;
  transition: opacity 0.3s cubic-bezier(0.25, 1, 0.5, 1), background-color 0.3s cubic-bezier(0.25, 1, 0.5, 1), width 0.3s cubic-bezier(0.25, 1, 0.5, 1), height 0.3s cubic-bezier(0.25, 1, 0.5, 1);
  opacity: 0;
}
#cursor.overlay {
  mix-blend-mode: normal;
}
#cursor.overlay .cur_cir {
  width: 117px;
  height: 117px;
  transform: rotate(0) scale(1) translate(0, 0) !important;
  position: relative;
  opacity: 1;
  background-color: #406eb6;
}
#cursor.overlay .cur_cir::before {
  content: "view";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 20px;
  font-family: "Play", sans-serif;
  font-weight: 700;
  letter-spacing: -0.03em;
}
#cursor.overlay.close .cur_cir {
  background-color: #db590f;
}
#cursor.overlay.close .cur_cir::before {
  content: "close";
}
#cursor.overlay.close.pointer .cur_cir {
  width: 150px;
  height: 150px;
  background-color: rgba(64, 110, 182, 0.7);
  opacity: 1;
}
#cursor.overlay.close.pointer .cur_cir::before {
  content: "more";
}
#cursor.pointer .cur_cir {
  width: 117px;
  height: 117px;
  transform: rotate(0) scale(1) translate(0, 0) !important;
  position: relative;
  opacity: 1;
  background-color: #406eb6;
}
#cursor.pointer .cur_cir::before {
  content: "more";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 20px;
  font-family: "Play", sans-serif;
  font-weight: 700;
  letter-spacing: -0.03em;
}

.header {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
}
.header .group-head .gnb {
  position: absolute;
  color: #fff;
  z-index: 50;
  top: 0;
  left: 0;
  width: 100vw;
  height: 80px;
  background: none;
  border-bottom: 0px solid rgba(255, 255, 255, 0.43);
  transition: 0.5s;
}
.header .group-head .gnb .hd-logo {
  position: absolute;
  top: 0;
  left: 150px;
  display: block;
  background: url(../images/swim-logo.svg) no-repeat center;
  background-size: 80px auto;
  transition: 0.5s;
  transform: scale(1.2) translate(20px, 20px);
  width: 100px;
  height: 100%;
}
@media (max-width: 1650px) {
  .header .group-head .gnb .hd-logo {
    left: 50px;
  }
}
@media (max-width: 767px) {
  .header .group-head .gnb .hd-logo {
    left: 10px;
    width: 80px;
  }
}
.header .group-head .gnb .menu-list {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  align-items: center;
  justify-content: center;
  width: 100%;
  display: flex;
  text-align: center;
  opacity: 0;
  transition: 0.5s;
  visibility: hidden;
}
.header .group-head .gnb .menu-list a {
  display: block;
  width: 100%;
  height: 100%;
}
.header .group-head .gnb .menu-list .menu-item {
  position: relative;
  height: inherit;
}
.header .group-head .gnb .menu-list .menu-item a {
  position: relative;
  z-index: 10;
}
.header .group-head .gnb .menu-list .menu-item .menu-name::after {
  content: "";
  position: absolute;
  bottom: -1px;
  display: block;
  width: 100%;
  height: 1px;
  background: #406eb6;
  transition-duration: 0.5s;
  transform-origin: 0 0;
  transform: scaleX(0);
}
.header .group-head .gnb .menu-list .menu-item.on .menu-name {
  color: #406eb6;
}
.header .group-head .gnb .menu-list .menu-item.on .menu-name::after {
  transform: scaleX(1);
}
.header .group-head .gnb .menu-list .menu-item.on .csseff {
  top: 80px;
  opacity: 1;
}
.header .group-head .gnb .menu-list .menu-item.on .csseff .sub-menu-item {
  opacity: 1;
  transition-delay: 0.25s;
}
.header .group-head .gnb .menu-list .menu-name {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 45px;
  transition: 0.7s;
  position: relative;
}
@media (max-width: 1650px) {
  .header .group-head .gnb .menu-list .menu-name {
    padding: 0 25px;
  }
}
.header .group-head .gnb .menu-list .sub-menu-name {
  background: #fff;
  position: relative;
  padding: 15px 0;
  width: 100%;
  height: 100%;
}
.header .group-head .gnb .menu-list .csseff {
  position: absolute;
  top: -300px;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 20px;
  width: 200px;
  opacity: 0;
  transition: 0.5s;
  color: black;
}
.header .group-head .gnb .menu-list .csseff::after {
  content: "";
  position: absolute;
  top: -100px;
  display: block;
  width: 100%;
  height: calc(100% + 120px);
  background: #fff;
  transition: 0.5s;
}
.header .group-head .gnb .menu-list .csseff .sub-menu-item {
  position: relative;
  background: #fff;
  display: flex;
  opacity: 0;
  font-weight: bold;
}
.header .group-head .gnb .menu-list .csseff .sub-menu-item.show {
  display: block;
}
.header .group-head .gnb .menu-list .csseff .sub-menu-item.show .sub-menu-detail-list {
  visibility: visible;
  opacity: 1;
  left: 100%;
  background: #ffffff;
}
.header .group-head .gnb .menu-list .csseff .sub-menu-item a:hover {
  color: #406eb6;
}
.header .group-head .gnb .menu-list .csseff .sub-menu-item .sub-menu-detail-list {
  visibility: hidden;
  position: absolute;
  top: 0%;
  left: 0%;
  opacity: 0;
  transition: 0.2s;
}
.header .group-head .gnb .menu-list .csseff .sub-menu-detail-item {
  width: 200px;
  padding: 15px 0;
}
.header .group-head .btn-ham {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 150px;
  display: block;
  width: 34px;
  height: 25px;
  visibility: hidden;
}
@media (max-width: 1650px) {
  .header .group-head .btn-ham {
    right: 50px;
  }
}
@media (max-width: 767px) {
  .header .group-head .btn-ham {
    right: 10px;
  }
}
.header .group-head .btn-ham.eff i {
  left: -20px;
  background: rgba(0, 0, 0, 0);
}
.header .group-head .btn-ham.eff i::before {
  top: 50%;
  left: 20px;
  transform: rotate(135deg);
}
.header .group-head .btn-ham.eff i::after {
  top: 50%;
  left: 20px;
  transform: rotate(-135deg);
}
.header .group-head .btn-ham i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  display: block;
  width: 34px;
  height: 4px;
  opacity: 0;
  transition: 0.5s;
  background: #fff;
}
.header .group-head .btn-ham i::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 0;
  display: block;
  width: 34px;
  height: 4px;
  background: #fff;
  transition: 0.5s;
}
.header .group-head .btn-ham i::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  display: block;
  width: 34px;
  height: 4px;
  background: #fff;
  transition: 0.5s;
}
.header .sub-lnb {
  position: fixed;
  overflow: hidden;
  top: -100%;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #406eb6;
  z-index: 49;
  padding: 200px 150px 0;
  transition: 0.5s;
  opacity: 0;
}
@media (max-width: 1650px) {
  .header .sub-lnb {
    padding: 120px 100px 0;
  }
}
@media (max-width: 1200px) {
  .header .sub-lnb {
    padding: 120px 70px 0;
  }
}
@media (max-width: 767px) {
  .header .sub-lnb {
    padding: 120px 70px;
  }
}
@media (max-width: 767px) {
  .header .sub-lnb {
    padding: 100px 10px;
  }
}
.header .sub-lnb .logo-box strong {
  position: absolute;
  font-size: 10.42vw;
  color: rgba(255, 255, 255, 0.05);
  font-weight: bold;
  writing-mode: tb-rl;
  transition-duration: 0.6s;
  transition-delay: 0.2s;
}
.header .sub-lnb .logo-box strong:nth-child(1) {
  top: 0;
  left: -15px;
}
.header .sub-lnb .logo-box strong:nth-child(2) {
  bottom: 0;
  right: -15px;
  transform: rotate(180deg);
}
.header .sub-lnb .menu-list {
  color: rgba(255, 255, 255, 0.4);
}
@media (max-width: 767px) {
  .header .sub-lnb .menu-list {
    width: 100%;
    height: 100%;
    overflow: auto;
  }
  .header .sub-lnb .menu-list::-webkit-scrollbar {
    width: 8px;
  }
  .header .sub-lnb .menu-list::-webkit-scrollbar-thumb {
    width: 8px;
    border-radius: 10px;
    background-color: rgba(211, 211, 211, 0.854);
  }
  .header .sub-lnb .menu-list::-webkit-scrollbar-track {
    background-color: rgba(69, 69, 69, 0.155);
  }
}
.header .sub-lnb .menu-list a {
  transition: 0.5s;
  font-weight: 500;
}
.header .sub-lnb .menu-list a:hover {
  color: #fff;
}
.header .sub-lnb .menu-list .menu-item {
  display: flex;
  align-items: center;
  transition: 0.5s;
}
@media (max-width: 767px) {
  .header .sub-lnb .menu-list .menu-item {
    flex-direction: column;
    align-items: start;
  }
}
.header .sub-lnb .menu-list .menu-item .menu-name {
  display: block;
  width: 400px;
  font-size: 50px;
  font-weight: 600;
  padding: 25px 0;
}
@media (max-width: 1650px) {
  .header .sub-lnb .menu-list .menu-item .menu-name {
    font-size: 40px;
    padding: 20px 0;
    width: 300px;
  }
}
@media (max-width: 1200px) {
  .header .sub-lnb .menu-list .menu-item .menu-name {
    font-size: 30px;
    width: 200px;
  }
}
@media (max-width: 767px) {
  .header .sub-lnb .menu-list .menu-item .menu-name {
    border-bottom: 1px solid #ffffff;
    width: 100%;
    font-size: 28px;
    padding: 15px 0;
  }
}
.header .sub-lnb .menu-list .menu-item .menu-name.act {
  color: #fff;
}
.header .sub-lnb .menu-list .menu-item .sub-menu-list {
  padding-top: 20px;
}
@media (max-width: 767px) {
  .header .sub-lnb .menu-list .menu-item .sub-menu-list {
    display: none;
  }
}
.header .sub-lnb .menu-list .menu-item .sub-menu-list .sub-menu-name {
  padding: 10px 0px;
  display: block;
  color: #fff;
}
.header .sub-lnb .menu-list .menu-item .sub-menu-list .sub-menu-detail-list li {
  padding: 5px;
}
@media (max-width: 767px) {
  .header .sub-lnb .menu-list .menu-item .sub-menu-list .sub-menu-detail-list {
    display: none;
  }
}
.header .sub-lnb .menu-list .menu-item .csseff {
  transform: translateY(40px);
  display: flex;
  gap: 150px;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
}
@media (max-width: 1650px) {
  .header .sub-lnb .menu-list .menu-item .csseff {
    gap: 80px;
  }
}
.header .sub-lnb .menu-list .menu-item .csseff .sub-menu-item {
  position: relative;
}
.header .sub-lnb .menu-list .menu-item .csseff .sub-menu-item .sub-menu-name {
  color: #fff;
}
.header .sub-lnb .menu-list .menu-item .csseff .sub-menu-item .sub-menu-detail-list {
  position: absolute;
  top: calc(100% + 20px);
  left: 0;
  white-space: nowrap;
}
@media (max-width: 767px) {
  .header .sub-lnb .menu-list .menu-item .csseff .sub-menu-item .sub-menu-detail-list {
    display: none;
  }
}
@media (max-width: 1200px) {
  .header .sub-lnb .menu-list .menu-item .csseff .sub-menu-item .sub-menu-detail-list {
    top: calc(100% + 10px);
  }
}
.header .sub-lnb .menu-list .menu-item .csseff .sub-menu-item .sub-menu-detail-list li {
  padding: 10px 0;
}
@media (max-width: 1200px) {
  .header .sub-lnb .menu-list .menu-item .csseff .sub-menu-item .sub-menu-detail-list li {
    padding: 5px 0;
  }
  .header .sub-lnb .menu-list .menu-item .csseff .sub-menu-item .sub-menu-detail-list li a {
    font-size: 14px;
  }
}
.header .sub-lnb .menu-list .menu-item .csseff .sub-menu-name {
  font-size: 20px;
}
@media (max-width: 1200px) {
  .header .sub-lnb .menu-list .menu-item .csseff .sub-menu-name {
    font-size: 15px;
  }
}
.header .sub-lnb .menu-list .menu-item .csseff.act {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}
.header .sub-lnb.show-sub-menu {
  opacity: 1;
  top: 0;
}
.header .sub-lnb.show-sub-menu .logo-box strong:nth-child(1) {
  top: 40%;
}
.header .sub-lnb.show-sub-menu .logo-box strong:nth-child(2) {
  bottom: 40%;
}
.header.set .gnb {
  background: rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.43);
}
.header.set .gnb .menu-list {
  left: 50%;
  transform: translateX(-50%);
  opacity: 1;
  visibility: visible;
}
@media (max-width: 1200px) {
  .header.set .gnb .menu-list {
    visibility: hidden;
  }
}
.header.set .group-head .hd-logo {
  height: 100%;
  transform: scale(0.8) translate(0px, 0px);
}
.header.set .group-head .btn-ham {
  visibility: visible;
}
.header.set .group-head .btn-ham i {
  opacity: 1;
}

.footer {
  background: #000;
  color: #fff;
  padding: 80px 200px 40px;
}
@media (max-width: 1650px) {
  .footer {
    padding: 80px 50px 30px;
  }
}
@media (max-width: 767px) {
  .footer {
    padding: 50px 10px 30px;
  }
}
.footer .ft-menu-all {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #3b3b3b;
}
@media (max-width: 767px) {
  .footer .ft-menu-all {
    flex-direction: column;
    gap: 50px;
    align-items: center;
  }
}
.footer .ft-menu-all .scroll-up {
  position: relative;
  width: 139px;
  height: 139px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 767px) {
  .footer .ft-menu-all .scroll-up {
    width: 100px;
    height: 100px;
  }
}
@media (max-width: 767px) {
  .footer .ft-menu-all .scroll-up {
    order: -1;
  }
}
.footer .ft-menu-all .scroll-up img {
  position: absolute;
  top: 0;
  left: 0;
  animation: rotation 8s infinite linear;
}
.footer .ft-menu-all .scroll-up i {
  position: absolute;
  animation: updown 1s alternate-reverse ease-in-out infinite;
}
.footer .ft-menu-list {
  display: flex;
  gap: 100px;
  padding-bottom: 80px;
}
@media (max-width: 1650px) {
  .footer .ft-menu-list {
    gap: 50px;
  }
}
.footer .ft-menu-list .ft-menu-item .btn-ft-tit {
  font-weight: bold;
  display: block;
  margin-bottom: 30px;
}
.footer .ft-menu-list .ft-menu-item .ft-menu-item {
  padding: 8px 0;
  font-size: 13px;
  color: #a3a3a3;
}
.footer .ft-menu-list .ft-menu-item .ft-menu-item a:hover {
  color: #fff;
}
.footer .ft-info {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
}
@media (max-width: 767px) {
  .footer .ft-info {
    flex-direction: column;
    gap: 50px;
  }
}
.footer .ft-info .ft-info-left {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 11px;
  color: #a3a3a3;
}
.footer .ft-info .ft-info-left h3 {
  width: 100px;
  height: 100px;
  background: url(/assets/images/swim-logo.svg) center;
  background-size: 100px;
  margin-bottom: 20px;
}
.footer .ft-info address {
  display: flex;
}
@media (max-width: 1200px) {
  .footer .ft-info address {
    flex-direction: column;
    gap: 5px;
  }
  .footer .ft-info address i {
    display: none;
  }
}
.footer .ft-info i {
  margin: 0 10px;
  color: #a3a3a3;
}
.footer .ft-info .ft-info-right {
  color: #a3a3a3;
  font-size: 11px;
}
.footer .ft-info .ft-info-right a {
  padding: 15px;
}
.footer .ft-info .ft-info-right .btn-com {
  padding-right: 0;
}

.sc-main-slid {
  position: relative;
  overflow: hidden;
  width: 100%;
}
.sc-main-slid .head-connection {
  position: absolute;
  height: 100vh;
}
.sc-main-slid .head-connection .main-bg-area {
  position: absolute;
  top: 0;
  left: 0;
  width: 80vw;
  height: 100vh;
  background: #ffffff;
  transition: 0.5s;
}
.sc-main-slid .head-connection .head-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 80vw;
  height: 100vh;
  padding: 125px 45px 80px 150px;
  display: flex;
  transition: 0.5s;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 1650px) {
  .sc-main-slid .head-connection .head-wrap {
    padding: 100px 50px 100px 50px;
  }
}
@media (max-width: 1200px) {
  .sc-main-slid .head-connection .head-wrap {
    justify-content: start;
    gap: 50px;
  }
}
@media (max-width: 767px) {
  .sc-main-slid .head-connection .head-wrap {
    padding: 120px 10px 0;
  }
}
.sc-main-slid .head-connection .head-wrap .head-box {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.sc-main-slid .head-connection .head-wrap .since {
  text-align: right;
  font-size: 20px;
  opacity: 1;
  transition: 0.5s;
}
@media (max-width: 1650px) {
  .sc-main-slid .head-connection .head-wrap .since {
    font-size: 16px;
  }
}
@media (max-width: 767px) {
  .sc-main-slid .head-connection .head-wrap .since {
    font-size: 12px;
  }
}
.sc-main-slid .head-connection .head-wrap .since em {
  font-size: 30px;
}
@media (max-width: 1650px) {
  .sc-main-slid .head-connection .head-wrap .since em {
    font-size: 25px;
  }
}
@media (max-width: 767px) {
  .sc-main-slid .head-connection .head-wrap .since em {
    font-size: 15px;
  }
}
.sc-main-slid .head-connection .head-wrap .slogan {
  padding-top: 50px;
  font-size: 100px;
  letter-spacing: -8.5px;
}
@media (max-width: 1650px) {
  .sc-main-slid .head-connection .head-wrap .slogan {
    font-size: 80px;
    letter-spacing: -5.5px;
  }
}
@media (max-width: 1200px) {
  .sc-main-slid .head-connection .head-wrap .slogan {
    padding-top: 20px;
    font-size: 50px;
  }
}
@media (max-width: 767px) {
  .sc-main-slid .head-connection .head-wrap .slogan {
    font-size: 35px;
    letter-spacing: -2.5px;
  }
}
@media (max-width: 767px) {
  .sc-main-slid .head-connection .head-wrap .slogan {
    font-size: 20px;
  }
}
.sc-main-slid .head-connection .head-wrap .slogan p {
  font-weight: 100;
  transition: 0.5s;
}
.sc-main-slid .head-connection .head-wrap .slogan strong {
  display: inline-block;
  font-weight: 900;
  transition: 0.5s;
  padding: 20px 0;
  line-height: 130px;
}
@media (max-width: 1650px) {
  .sc-main-slid .head-connection .head-wrap .slogan strong {
    line-height: 100px;
  }
}
@media (max-width: 1200px) {
  .sc-main-slid .head-connection .head-wrap .slogan strong {
    line-height: 80px;
  }
}
@media (max-width: 767px) {
  .sc-main-slid .head-connection .head-wrap .slogan strong {
    padding-top: 0;
    line-height: 50px;
  }
}
@media (max-width: 767px) {
  .sc-main-slid .head-connection .head-wrap .slogan strong {
    line-height: 30px;
  }
}
.sc-main-slid .head-connection .head-wrap .slogan em {
  display: inline-block;
  font-weight: 700;
  transition: 0.5s;
}
.sc-main-slid .head-connection .head-wrap .slogan-small {
  margin-top: 45px;
  font-size: 18px;
  transition: 0.5s;
}
@media (max-width: 1200px) {
  .sc-main-slid .head-connection .head-wrap .slogan-small {
    margin-top: 20px;
  }
}
@media (max-width: 767px) {
  .sc-main-slid .head-connection .head-wrap .slogan-small {
    font-size: 15px;
    margin-top: 10px;
  }
}
@media (max-width: 767px) {
  .sc-main-slid .head-connection .head-wrap .slogan-small {
    font-size: 12px;
    margin: 0;
  }
}
.sc-main-slid .head-connection .head-wrap .slogan-bottom {
  text-align: right;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.3);
}
@media (max-width: 1200px) {
  .sc-main-slid .head-connection .head-wrap .slogan-bottom {
    font-size: 18px;
  }
}
@media (max-width: 767px) {
  .sc-main-slid .head-connection .head-wrap .slogan-bottom {
    font-size: 12px;
  }
}
.sc-main-slid .head-connection .scroll-d {
  z-index: 20;
  position: absolute;
  left: 150px;
  bottom: 50px;
  width: 139px;
  height: 139px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}
@media (max-width: 1650px) {
  .sc-main-slid .head-connection .scroll-d {
    left: 50px;
  }
}
@media (max-width: 767px) {
  .sc-main-slid .head-connection .scroll-d {
    width: 80px;
    height: 80px;
    font-size: 10px;
  }
}
@media (max-width: 767px) {
  .sc-main-slid .head-connection .scroll-d {
    display: none;
  }
}
.sc-main-slid .head-connection .scroll-d img {
  position: absolute;
  top: 0;
  left: 0;
  animation: rotation 8s infinite linear;
}
.sc-main-slid .head-connection .scroll-d i {
  position: absolute;
  animation: updown 1s alternate-reverse ease-in-out infinite;
}
.sc-main-slid .group-slid {
  position: relative;
  height: 100vh;
  overflow: hidden;
  z-index: -1;
}
.sc-main-slid .group-slid::after {
  content: "";
  position: absolute;
  z-index: 10;
  display: block;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0vh;
  background: #ffffff;
  transition: 0.5s;
}
.sc-main-slid .group-slid .swiper-slide .img-box {
  width: 100vw;
  height: 100vh;
}
.sc-main-slid .slogan-play {
  position: absolute;
  width: 70vw;
  overflow: hidden;
  display: flex;
  font-size: 200px;
  right: 0;
  bottom: 30vh;
  transform: translateY(50%);
  font-weight: 700;
  color: #406eb6;
  opacity: 0;
  transition: 0.5s;
}
@media (max-width: 1650px) {
  .sc-main-slid .slogan-play {
    font-size: 150px;
  }
}
@media (max-width: 1200px) {
  .sc-main-slid .slogan-play {
    font-size: 80px;
    transform: translateY(calc(50% + 20px));
  }
}
@media (max-width: 767px) {
  .sc-main-slid .slogan-play {
    font-size: 60px;
    width: 60vw;
  }
}
@media (max-width: 767px) {
  .sc-main-slid .slogan-play {
    width: 95vw;
  }
}
.sc-main-slid .slogan-play strong {
  padding: 0 0 50px 0;
  animation-play-state: paused;
  animation: marquee 20s linear infinite;
}
.sc-main-slid.chg .main-bg-area {
  width: 0;
}
.sc-main-slid.chg .head-wrap {
  color: #ffffff;
  height: 80vh;
  width: 100vw;
  transition: 0.5s;
}
.sc-main-slid.chg .head-wrap .since {
  opacity: 0 !important;
}
.sc-main-slid.chg .head-wrap .slogan p {
  font-size: 31px;
  letter-spacing: -3px;
}
@media (max-width: 767px) {
  .sc-main-slid.chg .head-wrap .slogan p {
    font-size: 20px;
    letter-spacing: -1px;
  }
}
.sc-main-slid.chg .head-wrap .slogan strong {
  padding: 20px 0;
  line-height: 80px;
}
@media (max-width: 767px) {
  .sc-main-slid.chg .head-wrap .slogan strong {
    line-height: 55px;
    padding: 10px 0;
  }
}
@media (max-width: 767px) {
  .sc-main-slid.chg .head-wrap .slogan strong {
    line-height: 40px;
  }
}
.sc-main-slid.chg .head-wrap .slogan strong,
.sc-main-slid.chg .head-wrap .slogan em {
  font-size: 60px;
  font-weight: normal;
}
@media (max-width: 767px) {
  .sc-main-slid.chg .head-wrap .slogan strong,
  .sc-main-slid.chg .head-wrap .slogan em {
    font-size: 40px;
  }
}
@media (max-width: 767px) {
  .sc-main-slid.chg .head-wrap .slogan strong,
  .sc-main-slid.chg .head-wrap .slogan em {
    font-size: 25px;
    letter-spacing: -1px;
  }
}
.sc-main-slid.chg .head-wrap .slogan-bottom {
  display: none;
}
.sc-main-slid.chg .group-slid::after {
  height: 30vh;
}
.sc-main-slid.chg .slogan-play {
  opacity: 1;
}
.sc-main-slid.chg .slogan-play strong {
  animation-play-state: running;
}
.sc-main-slid.chg .scroll-d {
  bottom: calc(30vh - 70px);
}

.sc-prod {
  position: relative;
  padding: 140px 150px 250px;
  box-sizing: border-box;
  overflow: hidden;
}
@media (max-width: 1650px) {
  .sc-prod {
    padding: 140px 50px 250px;
  }
}
@media (max-width: 767px) {
  .sc-prod {
    padding: 100px 10px;
  }
}
.sc-prod .title {
  font-size: 22px;
  color: rgba(0, 0, 0, 0.8);
}
.sc-prod h2 {
  font-size: 90px;
  font-weight: 700;
  margin-top: 25px;
}
@media (max-width: 1650px) {
  .sc-prod h2 {
    font-size: 70px;
  }
}
@media (max-width: 1200px) {
  .sc-prod h2 {
    font-size: 50px;
  }
}
@media (max-width: 767px) {
  .sc-prod h2 {
    font-size: 30px;
    line-height: 40px;
  }
}
@media (max-width: 767px) {
  .sc-prod h2 {
    font-size: 25px;
  }
}
.sc-prod .prod-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 130px;
  max-width: 1010px;
}
@media (max-width: 767px) {
  .sc-prod .prod-list {
    margin-top: 50px;
    flex-direction: column;
    border-bottom: 1px solid #000;
  }
}
.sc-prod .prod-list li {
  width: 29.6842105263%;
  margin-right: 5.2631578947%;
  margin-bottom: 35px;
  padding: 20px 0;
  border-top: 1px solid #000;
}
@media (max-width: 767px) {
  .sc-prod .prod-list li {
    width: 100%;
  }
}
.sc-prod .prod-list li:nth-last-child(1) {
  margin-right: 0;
}
@media (max-width: 767px) {
  .sc-prod .prod-list li:nth-last-child(1) {
    margin-right: 5.2631578947%;
  }
}
.sc-prod .prod-list .link-prod h3 {
  font-size: 25px;
}
@media (max-width: 1200px) {
  .sc-prod .prod-list .link-prod h3 {
    font-size: 22px;
  }
}
@media (max-width: 767px) {
  .sc-prod .prod-list .link-prod h3 {
    font-size: 18px;
  }
}
.sc-prod .prod-list .link-prod span {
  font-size: 14px;
  margin-top: 10px;
  display: block;
  color: rgba(147, 148, 153, 0.8);
}
@media (max-width: 767px) {
  .sc-prod .prod-list .link-prod span {
    font-size: 10px;
  }
}
.sc-prod .prod-list .link-prod p {
  font-size: 14px;
  color: #939499;
  margin-top: 15px;
  word-break: keep-all;
}
.sc-prod .bg-company-name {
  position: absolute;
  left: 0;
  bottom: 115px;
  color: rgba(0, 0, 0, 0.1);
  z-index: -1;
  text-align: center;
  font-size: 26vw;
  font-weight: 700;
  display: block;
  width: 100%;
}

.sc-prod-view {
  height: 100vh;
  overflow: hidden;
}
.sc-prod-view .prod-view-list {
  position: relative;
  height: 100vh;
  display: flex;
  color: #fff;
}
.sc-prod-view .prod-view-list .prod-view-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 25%;
  height: 100vh;
  transition: 0.5s;
  background: url(../images/swim-view-01.jpg) center;
  box-sizing: border-box;
  z-index: 5;
}
@media (max-width: 767px) {
  .sc-prod-view .prod-view-list .prod-view-item {
    width: 100vw;
    height: 25vh;
  }
}
.sc-prod-view .prod-view-list .prod-view-item + .prod-view-item {
  border-left: 1px solid #3b3b3b;
}
@media (max-width: 767px) {
  .sc-prod-view .prod-view-list .prod-view-item + .prod-view-item {
    border-left: 0px solid #3b3b3b;
    border-top: 1px solid #3b3b3b;
  }
}
.sc-prod-view .prod-view-list .prod-view-item .Subtitle {
  position: absolute;
  top: 200px;
  left: 180px;
  opacity: 0;
  font-size: 45px;
  line-height: 60px;
}
@media (max-width: 1650px) {
  .sc-prod-view .prod-view-list .prod-view-item .Subtitle {
    left: 50px !important;
  }
}
@media (max-width: 767px) {
  .sc-prod-view .prod-view-list .prod-view-item .Subtitle {
    top: 120px;
    font-size: 40px;
  }
}
@media (max-width: 767px) {
  .sc-prod-view .prod-view-list .prod-view-item .Subtitle {
    font-size: 30px;
    left: 10px !important;
    line-height: 40px;
  }
}
.sc-prod-view .prod-view-list .prod-view-item .text-box {
  padding: 0 0 50px 30px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 30;
}
@media (max-width: 1650px) {
  .sc-prod-view .prod-view-list .prod-view-item .text-box {
    padding: 0 0 30px 20px;
  }
}
.sc-prod-view .prod-view-list .prod-view-item .text-box h3 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 30px;
  transition: 0.5s;
}
@media (max-width: 767px) {
  .sc-prod-view .prod-view-list .prod-view-item .text-box h3 {
    margin-bottom: 10px;
  }
}
@media (max-width: 767px) {
  .sc-prod-view .prod-view-list .prod-view-item .text-box h3 {
    font-size: 20px;
    letter-spacing: -1px;
  }
}
.sc-prod-view .prod-view-list .prod-view-item .text-box em {
  font-weight: 700;
  font-size: 20px;
  transition: 0.5s;
}
@media (max-width: 767px) {
  .sc-prod-view .prod-view-list .prod-view-item .text-box em br {
    display: none;
  }
}
@media (max-width: 767px) {
  .sc-prod-view .prod-view-list .prod-view-item .text-box em {
    font-size: 15px;
  }
}
.sc-prod-view .prod-view-list .prod-view-item a {
  position: absolute;
  display: block;
  top: 200px;
  right: 200px;
  visibility: hidden;
  transform: scale(0.8);
}
@media (max-width: 1650px) {
  .sc-prod-view .prod-view-list .prod-view-item a {
    right: 50px;
  }
}
@media (max-width: 1200px) {
  .sc-prod-view .prod-view-list .prod-view-item a {
    top: 400px;
  }
}
@media (max-width: 767px) {
  .sc-prod-view .prod-view-list .prod-view-item a {
    top: 280px;
    right: 30px;
  }
}
.sc-prod-view .prod-view-list .prod-view-item a .img-box {
  border-radius: 50%;
  overflow: hidden;
  width: 200px;
  height: 200px;
}
@media (max-width: 767px) {
  .sc-prod-view .prod-view-list .prod-view-item a .img-box {
    width: 150px;
    height: 150px;
  }
}
.sc-prod-view .prod-view-list .prod-view-item a .img-our-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 298px;
  height: 298px;
}
@media (max-width: 1650px) {
  .sc-prod-view .prod-view-list .prod-view-item a .img-our-box {
    width: 250px;
    height: 250px;
  }
}
@media (max-width: 767px) {
  .sc-prod-view .prod-view-list .prod-view-item a .img-our-box {
    width: 200px;
    height: 200px;
  }
}
.sc-prod-view .prod-view-list .prod-view-item a::after {
  position: absolute;
  bottom: 0px;
  left: 0px;
  content: "";
  display: block;
  width: 31px;
  height: 31px;
  background: url(/assets/images/prod-img-Arrow.png);
}
.sc-prod-view .prod-view-list .prod-view-item.show {
  z-index: 10;
  left: 0 !important;
  width: 100%;
}
@media (max-width: 767px) {
  .sc-prod-view .prod-view-list .prod-view-item.show {
    top: 0vh !important;
    height: 100vh;
  }
}
.sc-prod-view .prod-view-list .prod-view-item.show .Subtitle {
  left: 200px;
  opacity: 1;
  transition: 0.5s;
  transition-delay: 0.5s;
}
.sc-prod-view .prod-view-list .prod-view-item.show .text-box {
  padding: 0 0 225px 200px;
}
@media (max-width: 1650px) {
  .sc-prod-view .prod-view-list .prod-view-item.show .text-box {
    padding: 0 0 50px 50px;
  }
}
@media (max-width: 767px) {
  .sc-prod-view .prod-view-list .prod-view-item.show .text-box {
    padding: 0 0 50px 10px;
  }
}
.sc-prod-view .prod-view-list .prod-view-item.show .text-box h3 {
  font-size: 70px;
}
@media (max-width: 1650px) {
  .sc-prod-view .prod-view-list .prod-view-item.show .text-box h3 {
    font-size: 50px;
  }
}
@media (max-width: 767px) {
  .sc-prod-view .prod-view-list .prod-view-item.show .text-box h3 {
    font-size: 35px;
  }
}
@media (max-width: 767px) {
  .sc-prod-view .prod-view-list .prod-view-item.show .text-box h3 {
    font-size: 25px;
  }
}
.sc-prod-view .prod-view-list .prod-view-item.show .text-box em {
  font-size: 30px;
}
@media (max-width: 1650px) {
  .sc-prod-view .prod-view-list .prod-view-item.show .text-box em {
    font-size: 20px;
  }
}
@media (max-width: 767px) {
  .sc-prod-view .prod-view-list .prod-view-item.show .text-box em {
    font-size: 15px;
  }
}
.sc-prod-view .prod-view-list .prod-view-item.show .text-box em br {
  display: none;
}
.sc-prod-view .prod-view-list .prod-view-item.show a {
  transform: scale(1);
  visibility: visible;
  transition: 0.5s;
  transition-delay: 0.5s;
}
.sc-prod-view .prod-view-list .prod-view-item.show a:hover .img-our-box img {
  animation: T360Turn 8s infinite linear;
}
.sc-prod-view .prod-view-list .prod-view-item.show a:hover::after {
  bottom: -20px;
  left: -20px;
  transition: 0.5s;
  transition-delay: 0.5s;
}
.sc-prod-view .prod-view-list .prod-view-item.show::before {
  visibility: visible;
  opacity: 1;
}
.sc-prod-view .prod-view-list .prod-view-item.show::after {
  transform: scaleY(0);
  transform-origin: 0% 0%;
}
.sc-prod-view .prod-view-list .prod-view-item:hover::after {
  transform: scaleY(0);
  transform-origin: 0% 0%;
  transition-delay: 0.3s;
}
.sc-prod-view .prod-view-list .prod-view-item:nth-child(2) {
  left: 25%;
  background: url(../images/swim-view-02-1.jpg) center;
}
@media (max-width: 767px) {
  .sc-prod-view .prod-view-list .prod-view-item:nth-child(2) {
    top: 25vh;
    left: 0;
  }
}
.sc-prod-view .prod-view-list .prod-view-item:nth-child(3) {
  left: 50%;
  background: url(../images/swim-view-03.jpg) center;
}
@media (max-width: 767px) {
  .sc-prod-view .prod-view-list .prod-view-item:nth-child(3) {
    top: 50vh;
    left: 0;
  }
}
.sc-prod-view .prod-view-list .prod-view-item:nth-child(4) {
  left: 75%;
  background: url(../images/swim-view-04.jpg) center;
}
@media (max-width: 767px) {
  .sc-prod-view .prod-view-list .prod-view-item:nth-child(4) {
    top: 75vh;
    left: 0;
  }
}
.sc-prod-view .prod-view-list .prod-view-item::before {
  content: "";
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
}
.sc-prod-view .prod-view-list .prod-view-item::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #000;
  z-index: 1;
  transform-origin: 100% 100%;
  transition: transform 0.6s cubic-bezier(0.45, 0.46, 0.05, 0.96), opacity 0.6s;
  opacity: 0.9;
}

.sc-intro {
  overflow: hidden;
  position: relative;
  height: 140vh;
}
.sc-intro .bgimg-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  background: url(../assets/images/swim-intro.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -1;
}
.sc-intro .text-box {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  padding: 0 200px;
}
@media (max-width: 1650px) {
  .sc-intro .text-box {
    padding: 0 50px;
  }
}
@media (max-width: 767px) {
  .sc-intro .text-box {
    padding: 0 10px;
  }
}
.sc-intro .text-box .txt-effect {
  position: relative;
}
.sc-intro .text-box .txt-effect.n2 {
  margin-left: 50px;
}
@media (max-width: 767px) {
  .sc-intro .text-box .txt-effect.n2 {
    margin-left: 10px;
  }
}
.sc-intro .text-box .txt-effect.n3 {
  margin-left: 150px;
}
@media (max-width: 767px) {
  .sc-intro .text-box .txt-effect.n3 {
    margin-left: 30px;
  }
}
.sc-intro .text-box .txt-effect .title-back {
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  clip-path: polygon(0px 0px, 0px 0px, 0px 100%, 0px 100%);
}
.sc-intro h2 {
  font-size: 22px;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 50px;
}
@media (max-width: 767px) {
  .sc-intro h2 {
    margin-bottom: 0px;
  }
}
@media (max-width: 767px) {
  .sc-intro h2 {
    font-size: 18px;
  }
}
.sc-intro .title,
.sc-intro .title-back {
  margin-top: 30px;
  font-size: 70px;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.5);
  margin-left: 20px;
}
@media (max-width: 1650px) {
  .sc-intro .title,
  .sc-intro .title-back {
    font-size: 60px;
  }
}
@media (max-width: 1200px) {
  .sc-intro .title,
  .sc-intro .title-back {
    font-size: 45px;
  }
}
@media (max-width: 767px) {
  .sc-intro .title,
  .sc-intro .title-back {
    font-size: 30px;
    margin-left: 0;
  }
}
@media (max-width: 767px) {
  .sc-intro .title,
  .sc-intro .title-back {
    font-size: 20px;
    margin-top: 10px;
  }
}
.sc-intro .sub-title {
  font-size: 40px;
  margin-top: 80px;
  color: #fff;
  font-weight: 700;
}
@media (max-width: 1650px) {
  .sc-intro .sub-title {
    font-size: 30px;
  }
}
@media (max-width: 767px) {
  .sc-intro .sub-title {
    font-size: 15px;
    margin-top: 30px;
  }
}
@media (max-width: 767px) {
  .sc-intro .sub-title {
    font-size: 12px;
  }
}

.sc-news {
  padding: 90px 0;
}
.sc-news .news-top {
  display: flex;
  justify-content: space-between;
  align-items: end;
  border-bottom: 1px solid #e1e1e1;
  padding: 0px 200px 50px;
}
@media (max-width: 1650px) {
  .sc-news .news-top {
    padding: 0 50px 50px;
  }
}
@media (max-width: 767px) {
  .sc-news .news-top {
    padding: 0 10px 30px;
  }
}
.sc-news .news-top h2 {
  font-size: 50px;
  font-weight: 700;
}
@media (max-width: 1650px) {
  .sc-news .news-top h2 {
    font-size: 30px;
  }
}
.sc-news .news-top .btn-more {
  font-size: 18px;
  font-weight: 700;
}
@media (max-width: 1650px) {
  .sc-news .news-top .btn-more {
    font-size: 15px;
  }
}
.sc-news .news-top .btn-more i {
  margin-left: 10px;
  position: relative;
  display: inline-block;
  width: 16px;
  height: 16px;
}
.sc-news .news-top .btn-more i::after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  height: 1px;
  background: #000;
  display: block;
  transition: 0.5s;
}
.sc-news .news-top .btn-more i::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  width: 1px;
  height: 16px;
  background: #000;
  display: block;
  transition: 0.5s;
}
.sc-news .news-top .btn-more:hover i::after {
  transform: rotate(90deg);
}
.sc-news .news-top .btn-more:hover i::before {
  transform: rotate(90deg);
}
.sc-news .news-list {
  padding: 80px 200px;
  border-bottom: 1px solid #e1e1e1;
}
@media (max-width: 1650px) {
  .sc-news .news-list {
    padding: 50px 50px;
  }
}
@media (max-width: 767px) {
  .sc-news .news-list {
    padding: 30px 10px;
  }
}
.sc-news .news-list li {
  width: 25%;
}
@media (max-width: 1650px) {
  .sc-news .news-list li {
    width: 50%;
  }
}
@media (max-width: 767px) {
  .sc-news .news-list li {
    width: 100%;
  }
}
.sc-news .news-list li a:hover .bg {
  background: #bd3232;
}
.sc-news .news-list li .img-box {
  width: 100%;
  height: 300px;
}
.sc-news .news-list li .img-box .bg {
  width: 100%;
  height: 100%;
  background: #000;
  transition: 0.5s;
}
.sc-news .news-list li .txt-box em {
  display: block;
  margin: 15px 0 10px;
}
.sc-news .news-list li .txt-box .day {
  display: block;
  margin-top: 30px;
}